In [34]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
pandas.__version__

'1.4.2'

In [20]:
df_jan = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df_feb = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

 ### Question 1

In [21]:
df_jan. shape , df_feb.shape

((3066766, 19), (2913955, 19))

In [55]:
print(f"There are  {df_jan.shape[1]-1} Columns in this this dataset")

There are  19 Columns in this this dataset

## Question 2

In [32]:
df_jan["duration"] = (df_jan["tpep_dropoff_datetime"] - df_jan["tpep_pickup_datetime"]).dt.total_seconds()/60
df_jan["duration"].std()

42.594351241920904

## Question 3

In [43]:
df_jan_filtred = df_jan[(df_jan["duration"] >=1)&(df_jan["duration"] <=60)]

In [44]:
df_jan_filtred.shape, df_jan.shape

((3009173, 20), (3066766, 20))

In [59]:
fraction = len(df_jan_filtred)/len(df_jan)
print(f"The fraction is : {fraction:.0%}")

The fraction is : 98%